.mainBody {
  background-color: aqua;
  width: 25%;
  border-radius: 5%;
  box-shadow: 0px 0px 5px 8px lightblue inset;
}
.consol input {
  box-shadow: 0px 0px 5px 5px gray inset;
  background-color: rgb(118, 135, 118);
}
.consol input:focus {
  background-color: rgb(118, 135, 118);
}
.solar {
  background-color: black;
}

.btn {
  background-color: rgb(226, 226, 158);
  color: black;
  transition: 0.5s;
}
.btn:hover {
  transform: translateY(1px);
}
@media (max-width: 1200px) {
  .mainBody {
    width: 35%;
  }
  .keys .btn {
    width: 15%;
  }
}
@media (max-width: 1000px) {
  .mainBody {
    width: 50%;
  }
  .keys .btn {
    width: 15%;
  }
}
@media (max-width: 500px) {
  .mainBody {
    width: 80%;
  }
  .keys .btn {
    width: 15%;
  }
}

@media (max-width: 300px) {
  .mainBody {
    width: 90%;
    padding: 1%;
  }
  .container {
    padding: 1%;
  }
  .keys .btn {
    width: 15%;
  }
}
