.mainBody {
  background-color: aqua;
  width: 30%;
  border-radius: 5%;
  box-shadow: 0px 0px 5px 8px lightblue inset;
}
.consol input {
  box-shadow: 0px 0px 2px 2px gray inset;
  background-color: rgb(192, 217, 192);
  text-align: right;
}
.consol input:focus {
  background-color: rgb(192, 217, 192);
  box-shadow: none;
}
.solar {
  background-color: black;
  text-align: right;
}

.buttonRow
{
  display: flex;
  justify-content: space-between;
}
.btn-outline-warning
{
  background-color: rgb(226, 226, 158);
  color: black
}
.btn {
  
  transition: 0.1s;

}
.btn:hover {
  transform: translateY(5%);
}
@media (max-width: 1100px) {
  .mainBody {
    width: 35%;
  }

}
@media (max-width: 900px) {
  .mainBody {
    width: 50%;
  }

}
@media (max-width: 700px) {
  .mainBody {
    width: 70%;
  }
}

@media (max-width: 500px) {
  .mainBody {
    width: 95%;
    padding: 1%;
  }
  .keys {
    padding: 1%;
  }
  .keys .btn
  {
    padding: 5% 10%;
  }
}
